[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://gitee.com/mirrors/glm.git
[submodule "thirdparty/rapidobj"]
	path = thirdparty/rapidobj
	url = https://github.com/guybrush77/rapidobj
